up.time
commit.time
commit.default
target.mk
.*.sw*

*.Rout.pdf
*.html

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

dotdir/
clonedir/

*.makestuff
up.time
## content from makestuff
up.time
commit.time
commit.default
dotdir/
clonedir/
*.oldfile
up.time
commit.time
commit.default
dotdir/
clonedir/
*.oldfile
